@font-face {
  font-family: Roboto;
  src: url("assets/fonts/Roboto/Roboto-Regular.ttf");
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}
* {
  box-sizing: border-box;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
}
.nav-link {
  padding: 0 20px;
  line-height: 50px;
}
